@import url('https://fonts.googleapis.com/css?family=Days+One:100,200,300,400,500,600,700,800,900|Dosis:100,200,300,400,500,600,700,800,900');
.container-fluid {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Dosis", sans-serif;
    overflow-x: hidden;
}


/* ---------------------------Fonts & Colours------------------------------- */

.navbar-colors {
    background-color: rgba(64, 224, 208, 0.8);
    border-color: rgb(64, 224, 208);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(8, 175, 158, 1);
}

.navbar-brand {
    color: #fff;
    font-family: "Days One", sans-serif;
    text-align: center;
}

.nav-item {
    color: #fff;
    font-family: "Days One", sans-serif;
}

.footer-logo {
    color: rgba(8, 175, 158, 0.5);
    font-family: "Days One", sans-serif;
}

.social-links {
    color: rgba(8, 175, 158, 0.5);
    font-family: "Days One", sans-serif;
}

.sister-site {
    color: rgba(6, 144, 130, 1);
    background-color: rgba(64, 224, 208, 0.3);
}

.sister-site a {
    color: rgba(6, 144, 130, 1);
    text-decoration: none;
    font-weight: 600;
}

.uppercase {
    text-transform: uppercase;
}

.centeredText {
    text-align: center;
}

.get-a-quote-text {
    color: rgb(91, 105, 101);
}

.form-heading {
    background-color: rgba(64, 224, 208, 0.25);
    color: rgba(91, 105, 101, 0.8);
}

.form-content-container {
    background-color: rgba(64, 224, 208, 0.05);
}


/* ---------------------------Footer------------------------------- */

.footer-background-image {
    margin: 0;
    padding: 0;
    min-height: 80px;
    width: 100%;
    background-image: url(/OfficePrinters/assets/media/officeblock2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    bottom: 0;
    left: 0;
}

.footer-container {
    margin: 0;
    padding: 0;
    min-height: 80px;
    width: 100%;
    background-color: rgba(192, 224, 221, 0.95);
    position: absolute;
    bottom: 0;
    left: 0;
    /* background-color: rgb(192, 224, 221); */
}

.vertical-space {
    margin-top: 40px
}

.footer-logo {
    float: left;
    margin-left: 15px;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.social-links {
    float: right;
    padding: 0;
    margin-right: 5%;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.social-icons {
    padding-right: 2%;
}


/* ---------------------------Hovers------------------------------- */

.footer-logo:hover {
    color: rgb(8, 175, 158);
    text-decoration: none;
    margin-left: 25px;
    transform: scale(1.15);
}

.social-links:hover {
    color: rgb(8, 175, 158);
    text-decoration: none;
    transform: scale(1.15);
}

.btn:hover {
    transform: scale(1.05);
    color: rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, .5);
}

.sister-site a:hover {
    font-weight: 700;
}


/* rgb(117, 155, 130) */


/* ---------------------------Index Page------------------------------- */


/* ----------Jumbotron----------- */

.jumbotron-image-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    height: 100%;
    width: 100%;
}

.quote-callout {
    height: 80vh;
    background-image: url(/OfficePrinters/assets/media/peaceful.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
}

.jumbotron {
    margin-top: 20vh;
    background-color: transparent;
    position: relative;
    text-align: center;
    color: rgba(255, 255, 255, .9);
}

.jumbotron h2 {
    font-weight: 800;
}

.jumbotron .lead {
    font-weight: 500;
}

.jumbotron .btn {
    background-color: rgb(64, 224, 208);
    color: rgba(255, 255, 255, .8);
    font-weight: 800;
    transition: all 150ms ease-in-out;
}


/* ----------Products----------- */

.products {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

.products p {
    font-weight: 300;
    padding-left: 25%;
    padding-right: 25%;
    font-size: 0.9em;
    margin-top: 20px;
}

.products-divider {
    background-color: rgba(64, 224, 208, 0.8);
    width: 100px;
    font-weight: 300;
    margin: 25px auto;
}

.product-image {
    background-size: contain;
    max-height: 200px;
    text-align: center;
}

.products p a {
    text-decoration: none;
}


/* ----------Consumables----------- */

.sister-site {
    width: 100%;
    min-height: 360px;
    text-align: center;
    padding-bottom: 100px;
}

.sister-site i {
    padding-top: 70px;
    padding-bottom: 50px;
    color: rgba(64, 224, 208, 0.9);
}

.inkshop-logo {
    max-height: 200px;
    margin-top: 30px;
}


/* ---------------------------Get a Quote Page------------------------------- */


/*----------------INPUTS----------------*/

.row {
    margin: 0;
}

input {
    border-color: rgba(8, 175, 158, 0.4);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    padding: 2px 8px;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, .9);
}

input [type=text] {
    min-width: 30%;
}

input[type=radio] {
    margin: 0;
    padding: 0;
}

input[type=number] {
    width: 40px;
}

.form-heading {
    margin: 0;
    padding: 15px 0px;
    width: 100%;
}

.form-content-container {
    padding: 20px 0px;
}

.form-step-one {
    margin: 0;
    padding: 0;
    padding: 5px 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.form-step-two {
    margin: 0;
    padding: 0;
    padding: 5px 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.form-text-area {
    margin: 0;
    padding: 0;
    padding-top: 5%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.form-text-area label {
    width: 90%;
    margin-top: 30px;
    display: block;
}

textarea {
    border-color: rgba(8, 175, 158, 0.4);
    border-radius: 4px;
    border-style: solid;
    width: 100%;
    height: 180px;
}

.hidden-div {
    width: 100%;
    visibility: hidden;
}

.form-step-two label {
    left: 10%;
}

@media screen and (min-width:768px) {
    .form-step-two {
        text-align: left;
        align-items: left;
        justify-content: left;
    }
    .form-step-two label {
        float: right;
        margin-right: 20px;
    }
    .form-step-two input {
        margin-left: 20px;
    }
    .form-step-two select {
        margin-left: 20px;
    }
}

.form-submit-button {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.form-submit-button .btn {
    background-color: rgb(64, 224, 208);
    color: rgba(255, 255, 255, .8);
    font-weight: 800;
    transition: all 150ms ease-in-out;
}

.has-printer-in-mind {
    width: 100%;
    height: 0;
    visibility: hidden;
}

.no-printer-in-mind {
    width: 100%;
    visibility: visible;
    height: 100%;
}

input[type=checkbox]:checked~.has-printer-in-mind {
    visibility: visible;
    height: 100%;
}

input[type=checkbox]:checked~.no-printer-in-mind {
    visibility: hidden;
    height: 0;
}